doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Socket IO
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/style.css")
    body 
        header 
            h2 SocketIO Chat
        main   
            div#membersWrapper
                h5 Members 
                    span#membersLength  
                p#membersText

            div#roomInfoWrapper
                h5 Open Rooms
                    span#roomsLength  
                p#noroom
                ul#roomsUL

            div#nicknameWrapper  
                form#nicknameForm
                    input(id="nicknameInput", placeholder="nickname", type="text", required)
                    button Save

            div#roomWrapper
                form#roomForm
                    input(id="roomInput", placeholder="room name", type="text", required)
                    button Enter Room

            ul#messageUL 

            div#messageWrapper
                form#messageForm
                    input(id="messageInput", placeholder="message", type="text", required)
                    button Send

        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 
